{
  "presets": [["es2015", { "modules": false }], "stage-0", "react"],
  "plugins": ["lodash", "transform-decorators-legacy", "transform-regenerator"],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}